h1 {color: blue;}
h3 {color: red;}
p  {color: black; font-weight: 500;}
.button {
    background-color: #66ff33;
    border: none;
    color: rgb(255,153,0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
}
.whitebold

{
    color: white;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
li.bigger
{
    font-size: 150%;
}
